<%= form_for booking, :url => new_booking_path,
												html: {
																:onchange => "disableSubmit()",
																:class => "ui form",
																:name => "new-booking-form",
																:id => "new-booking-form"
															} do |f| %>
<%= f.hidden_field :flight_id %>
<%= f.hidden_field :price %>
<% if session[:user_id].nil? %>
	<div class="field">
		<label for="send_email">Where to send the email: </label>
		<input type="email" name="send_email" value="<%= old_email params %>" required/>
	</div>
<% end %>
<%= f.fields_for :passengers do |p| %>
<%= render "passenger_fields", f: p %>
<% end %>
<div class="field">
	<%= link_to_add_association f, :passengers, :class => "ui brown basic bottom right attached label" do %>
	<i class="user add icon"></i> Add Passenger
	<% end %>
</div>
<%= f.submit "Submit", :class => "ui basic m-button button disabled large submit-button" %>
<button type="button" class="ui button basic m-button" onclick="confirmation()">Confirm Info</button>
<% end %>
<%= render "confirmation_modal", { flight: flight } %>
