<!DOCTYPE html>
<html>
<head>
  <title>Moscavion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:session_error] %>
    <%= flash[:session_error] %>
<% end %>
<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>

<%= yield %>

</body>
</html>
